body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Space Grotesk", sans-serif;
}
#page {
	display: flex;
	gap: 400px;
	min-height: 100vh;
}

#left {
	flex: 2; /* Adjust the flex ratio to control the width */
	background-image: url("./images/bg-main-desktop.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
	display: flex;
	align-items: center;
	justify-content: end;
	position: relative;
}

#right {
	display: flex;
	/* border: 1px solid black; Add this line to set a border */
	gap: 10px;
	align-items: center;
	margin-right: 300px;
}

#form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: baseline;
}

.form-row {
	display: flex;
	gap: 20px;
}

.long-input {
	width: 350px;
}

.med-input {
	width: 180px;
}

.small-input {
	width: 70px;
}

.input-height {
	height: 50px;
}

input {
	border-radius: 8px;
	border: 1px solid #cccccc;
	color: #464444;
	box-sizing: border-box;
	padding: 8px;
}

input::placeholder {
	color: #aaa9a9;
	font-family: "Space Grotesk", sans-serif;
}

#submit-button,
#complete-button {
	border-radius: 7px;
	background-color: #220930;
	color: white;
	padding: 10px;
	width: 350px;
	font-family: "Space Grotesk", sans-serif;
}

label {
	font-size: smaller;
	padding: 3px;
	font-weight: 500;
}

#front-card,
#back-card {
	position: absolute;
	/* Use top, right, bottom, left properties to position your images. */
	/* Example for the front card: */
	width: 25vw; /* 20% of the viewport width */
	/* Adjust top and left as a percentage of the containing element */
	top: 20%; /* Adjust as necessary */
	left: 45%; /* Adjust as necessary */
	/* You can add box-shadow, border-radius, etc., to match the design */
	transition: box-shadow 0.5s;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
	border-radius: 15px; /* Adjust this to match your card's border-radius */
	overflow: visible; /* Ensure it's visible */
}

#back-card {
	top: 50%;
	left: 60%;
}

.error-border {
	border: 1px solid red;
}

.error-message {
	color: red;
	font-size: 0.75rem; /* Adjust the size as needed */
	display: none; /* Hide by default */
}

#completed {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#complete-heading {
	color: hsl(278, 68%, 11%);
	margin-bottom: -5px;
}

#complete-subtext {
	color: hsl(279, 6%, 55%);
}

@media only screen and (max-width: 1051px) {
	/* Adjust the main page layout */
	#page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 100px;
	}

	#left {
		background-image: url("./images/bg-main-mobile.png");
		background-size: cover;
		background-position: center;
		background-repeat: repeat-x;
		display: flex;
		flex-direction: column;
		min-height: 150px; /* Or whatever minimum height is appropriate */
		padding: 10px; /* Add padding to ensure the div is visible */
		width: 100%; /* Full width for mobile */
		margin-right: 0;
		justify-content: center;
		align-items: center; /* To center align the content */
		/* Remove any large margins or gaps that may be pushing the div off-screen */
		position: relative;
		margin: 0;
	}

	#front-card,
	#back-card {
		position: absolute;
		/* Use top, right, bottom, left properties to position your images. */
		/* Example for the front card: */
		width: 40vh; /* 20% of the viewport width */
		/* Adjust top and left as a percentage of the containing element */
		top: 60%; /* Adjust as necessary */
		left: 10%; /* Adjust as necessary */
		/* You can add box-shadow, border-radius, etc., to match the design */
		transition: box-shadow 0.5s;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
		border-radius: 15px; /* Adjust this to match your card's border-radius */
		overflow: visible; /* Ensure it's visible */
	}

	#back-card {
		top: 26%; /* Adjust as necessary */
		left: 20%; /* Adjust as necessary */
	}

	#form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}

	/* Adjust individual form sections if necessary */
	.form-row {
		flex-direction: row; /* Stack the elements vertically */
		gap: 10px; /* Adjust the gap between elements */
	}

	.long-input {
		width: 300px;
	}
	.med-input {
		width: 130px;
	}

	.small-input {
		width: 65px;
	}

	#submit-button {
		width: 300px;
	}

	#completed {
		display: flex;
		flex-direction: column;
		margin-left: 50%;
	}

	#complete-button {
		width: 300px;
	}
}



@media (min-width: 1051px) {
	#front-card {
		order: 1; /* On desktop, the front card should appear first */
	}

	#back-card {
		order: 2; /* On desktop, the back card should appear second */
	}
}
