body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Space Grotesk", sans-serif;
}
#page {
	display: flex;
	gap: 400px;
	min-height: 100vh;
}

#left {
	flex: 2; /* Adjust the flex ratio to control the width */
	background-image: url("./images/bg-main-desktop.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
	display: flex;
	align-items: center;
	justify-content: end;
	position: relative;
}

#right {
	display: flex;
	/* border: 1px solid black; Add this line to set a border */
	gap: 10px;
	align-items: center;
	margin-right: 300px;
}

#form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: baseline;
}

.form-row {
	display: flex;
	gap: 20px;
}

.long-input {
	width: 350px;
}

.med-input {
	width: 180px;
}

.small-input {
	width: 70px;
}

.input-height {
	height: 50px;
}

input {
	border-radius: 8px;
	border: 1px solid #cccccc;
	color: #464444;
	box-sizing: border-box;
	padding: 8px;
}

input::placeholder {
	color: #aaa9a9;
	font-family: "Space Grotesk", sans-serif;
}

#submit-button {
	border-radius: 7px;
	background-color: #220930;
	color: white;
	padding: 10px;
	width: 350px;
	font-family: "Space Grotesk", sans-serif;
}

label {
	font-size: smaller;
	padding: 3px;
	font-weight: 500;
}

#front-card,
#back-card {
	position: absolute;
	/* Use top, right, bottom, left properties to position your images. */
	/* Example for the front card: */
	width: 25vw; /* 20% of the viewport width */
	/* Adjust top and left as a percentage of the containing element */
	top: 20%; /* Adjust as necessary */
	left: 45%; /* Adjust as necessary */
	/* You can add box-shadow, border-radius, etc., to match the design */
	transition: box-shadow 0.5s;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
	border-radius: 15px; /* Adjust this to match your card's border-radius */
	overflow: visible; /* Ensure it's visible */
}

#back-card {
	top: 50%;
	left: 60%;
}
